<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body class="w3-container">

<p>Click the table headers to change the sorting order:</p>

<div ng-app="myApp" ng-controller="namesCtrl">

<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable" style="width: 50%; margin: auto;">
<tr>
{{ordre}}-{{reverse}}
<th ng-click="reverse = reverse ? false : true; sortField = 'name'; order();">Name<i class="fa fa-sort-alpha-{{ordre}}"></i></th>
<th ng-click="reverse = reverse ? false : true; sortField = 'country'; order()">Country<i class="fa fa-sort-alpha-{{ordre}}"></i></th>
</tr>
<tr ng-repeat="x in names | orderBy:sortField:reverse">
<td>{{x.name}}</td>
<td>{{x.country}}</td>
</tr>
</table>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];

    $scope.sortField = "name";
    
    $scope.order = function(){
        if($scope.reverse == false){
            $scope.ordre = 'asc';
        }
        else{
            $scope.ordre = 'desc';
        } 
    }
    

});
</script>

</body>
</html>

