<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp">
	<div ng-controller="MyController" >
      <span>{{myData.textf()}}</span><br>
      <span>Edat: {{myData.edat}}</span>
      <div ng-bind="myData.edat"></div>
      <span ng-bind-html-unsafe="myData.textf()">ds</span>
      <br/>
      {{myData.showIt}}
      <span ng-show="myData.showIt">A</span>
      <span ng-hide="myData.showIt">B</span>
      <hr>
      {{myData.switch}}
      <input type="number" ng-model="myData.switch"></input>
      <div ng-switch on="myData.switch">
        <div ng-switch-when="1">Shown when switch is 1</div>
        <div ng-switch-when="2"><b>Shown when switch is 2</b></div>
        <div ng-switch-default>Shown when switch is anything else than 1 and 2</div>
      </div>
      <div ng-if="myData.showIt">ng-if Show it</div>

      <hr>
      <div ng-include="myData.showIt &&
                        'fragment-1.html' ||
                        'fragment-2.html'"></div>
      <ul>
   		<span ng-repeat="theItem in myData.items">
   			<li ng-if="theItem.text%2==1">
   				{{$index}}-{{theItem.text}}
   				<span ng-if="$middle">medio</span>
   				<span ng-if="$first">primero</span>
   				<span ng-if="$last">ultimo</span>
   			</li>
   		</span>
	  </ul>
	  <hr>

	  <div ng-repeat="(name, value) in myData.myObject">
	    <div>{{name}}</div>
	    <div>{{value}}</div>
	  </div>

	  <ol>
	    <li ng-repeat-start="(name, value) in myData.myObject">{{name}}</li>
	    <li ng-repeat-end>{{value}}</li>
	  </ol>

	  <div ng-repeat="item in myData.items | filter: itemFilter">
	  	{{item.text}}---<b>{{item.nota}}</b>
	  </div>
	  <span>Fecha: {{myData.theDate | date: 'dd-MMMM-yyyy'}}</span>
	  <div>{{myData.theNumber | number: 2}}</div>
	  <div>{{myData.theText | limitTo: 3}}</div>
  	</div>


  	<!--Fora del controller -->
  	  <span ng-show="myData.showIt">A</span>
      <span ng-hide="myData.showIt">B</span>
      {{myData.showIt}}
</div>

  <script>
    angular.module("myapp", [])
    .controller("MyController", function($scope) {
      $scope.myData = {};
      $scope.myData.edat = 33;
      $scope.myData.showIt = false;
      $scope.myData.switch = 3;
      $scope.myData.items = [ {text : 1, nota : 7}, {text : 2, nota : 7}, {text : 3, nota : 7}, {text : 4, nota : 7}, {text : 5, nota : 7} ];
      $scope.myData.textf = function() { return "<b>A text from a function</b>"; };
      $scope.myData.myObject = { var1 : "val1", var2 : "val2", var3 : "val3"};

	   $scope.itemFilter = function(item) {
	    if(item.text == 2) return false;
	      return true;
	   }
	  $scope.myData.theDate = new Date();
	  $scope.myData.theNumber = 2.219;
      $scope.myData.theText = [1, 2, 3, 4, 5];
    });
  </script>
</body>
</html>