<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp">
	<div ng-controller="MyController" >
      <span>{{myData.textf()}}</span><br>
      <span>Edat: {{myData.edat}}</span>
      <div ng-bind="myData.edat"></div>
      <span ng-bind-html-unsafe="myData.textf()">ds</span>
      <br/>
      {{myData.showIt}}
      <span ng-show="myData.showIt">A</span>
      <span ng-hide="myData.showIt">B</span>
      <hr>
      {{myData.switch}}
      <input type="number" ng-model="myData.switch"></input>
      <div ng-switch on="myData.switch">
        <div ng-switch-when="1">Shown when switch is 1</div>
        <div ng-switch-when="2"><b>Shown when switch is 2</b></div>
        <div ng-switch-default>Shown when switch is anything else than 1 and 2</div>
      </div>
      <div ng-if="myData.showIt">ng-if Show it</div>

      <hr>
      <div ng-include="myData.showIt &&
                        'fragment-1.html' ||
                        'fragment-2.html'"></div>
      <ul>
   		<li ng-repeat="theItem in myData.items">
   			{{theItem.text}}
   		</li>
	  </ul>
  	</div>
  	  <span ng-show="myData.showIt">A</span>
      <span ng-hide="myData.showIt">B</span>
      {{myData.showIt}}

</div>

  <script>
    angular.module("myapp", [])
    .controller("MyController", function($scope) {
      $scope.myData = {};
      $scope.myData.edat = 33;
      $scope.myData.showIt = false;
      $scope.myData.switch = 3;
      $scope.myData.items = [ {text : 1}, {text : 2}, {text : 3}, {text : 4}, {text : 5} ];
      $scope.myData.textf = function() { return "<b>A text from a function</b>"; };
    });
  </script>
</body>
</html>